.address-book-wrapper {
    padding: 20px;
  .left-panel {
    padding: 5px;
    margin: 5px;
    border:1px solid #ccc;
  }
  .right-panel {
    margin: 5px;
    padding: 5px;
    border:1px solid #ccc ;
    
  }
}
